name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  WAVESPEEDAI_API_KEY: ${{ secrets.WAVESPEEDAI_API_KEY }}

jobs:
  node-tests:
    name: "Node tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run Node tests
        run: bun run test:node

  edge-tests:
    name: "Edge tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run Edge tests
        run: bun run test:edge
